.nav__color{
    background-color: #303A55 !important;
    color: white !important;
}
.navbar{
    height: 80px !important;
}
button.round {
    position: relative;
    background-color: #242D40;
    color: white !important;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 45px;
    width: 45px;
    box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
.notification-dot {
    position: absolute;
    top: -5px;
    right: -3px;
    width: 22px; /* Adjust size to fit the value */
    height: 22px;
    background-color: #E83363;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Adjust font size */
    font-weight: bold;
}

.notification-dot::after {
    content: attr(data-value); /* Display the value */
}
.nav__icon{
    fill: white !important;
}

.nav__options{
    display: flex;
    flex-direction: row !important;

}
/* .nav__options #li{
    margin-left: 4rem !important;
} */

.navbar-nav.nav__options .nav-item {
    /* Your styles for the <li> elements here */
    /* For example: */
    display: inline-block; /* Display <li> elements horizontally */
    margin-left: 30px; /* Add spacing between <li> elements */
  }

.navbar-brand{
    color: white !important;
}

.nav__search{
    width: 490px;
    height: 48px;
    padding-left: 22px;
    top: 16px;
    left: 475px;
    border-radius: 40px;
    background-color: #242D40;
    border: none;
    outline: none;
    color: white; 

}

.input-container {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
    background-image: url('../assets/search.svg'); /* Specify the path to your icon */
    background-size: cover;
    opacity: 50%;
}


/* For modern browsers */
.nav__search::-webkit-search-cancel-button {
    display: none;
}

/* For older versions of Chrome */
.nav__search::-webkit-search-decoration,
.nav__search::-webkit-search-clear-button {
    display: none;
}

/* For Firefox */
.nav__search[type="search"] {
    -moz-appearance: none;
}

/* For Edge */
.nav__search::-ms-clear {
    display: none;
}
